html{
    position: relative;
    min-height: 100%;
}
body{
    margin-bottom: 80px;
    font-family: 'Prompt', sans-serif;
}

.modal-backdrop {
    display: none!important;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: rgb(88,168,220);
}
.mt-10{
    margin-top: 6rem !important;
}

.fs-12 {
    font-size: 12px;
}

.fs-18 {
    font-size: 18px;
}

.text-green {
    color: rgb(68,160,141);
}

.item-center {
    margin: 0 auto;
}
.bg-gradient {
    background: rgb(88,168,220);
    background: linear-gradient(30deg, rgba(88,168,220,1) 0%, rgba(44,49,126,1) 100%);
    color: white;
}
.box-shadow {
    border-radius: 20px;
    border: none;
    box-shadow: 0 5px 19px 0 rgba(0,0,0,0.1),0 10px 20px 0 rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.card-shadow {
    border-radius: 20px;
    border: none;
    box-shadow: 0 5px 19px 0 rgba(0,0,0,0.1),0 10px 20px 0 rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.card-shadow:hover {
    box-shadow: 0 5px 19px 0 rgba(68,160,141,0.3),0 14px 35px 0 rgba(17,102,104,0.3);
}

.cardLink{
    text-decoration: none !important;
    color: #262626;
}
.cardLink:hover {
    color: #262626;
}

.left-box {
    width: 100%;
    height: 100%;
    background: rgb(88,168,220);
    background: linear-gradient(60deg, rgba(88,168,220,1) 0%, rgba(44,49,126,1) 100%);
    margin: 0;
    top: 0;
    bottom: 0;
}
.text-white{
    color: white;
}
.ls-3 {
    letter-spacing: 3px;
}
.button-login {
    display: inline-flex;
    height: 40px;
    width: 250px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 20px 20px 20px 20px;
    color: white !important;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}



/* Third Button */

.button-3 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.button-3 a {
    position: relative;
    transition: all .45s ease-Out;
    color: white;

}

.circle{
    width: 0%;
    height: 0%;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    background: white;
    position: absolute;
    transition: all .5s ease-Out;
    top: 10px;
    left: 80px;
}

.circle-short {
    top: 10px;
    left: 20px;
}

.button-3:hover .circle {
    width: 200%;
    height: 500%;
    opacity: 1;
    top: -40px;
    left: -70px;
    z-index: -1;
}
.button-3:hover .circle-short {
    width: 500%;
    height: 500%;
    left: -100px;
}

.button-3:hover a {
    color: #116668;
    text-decoration: none;
    z-index: 0;
}

.input-group-text {
    border-radius: 20px 0 0 20px;
    border-right: none;
    background: none;
    color:  gray;
}
.form-control-login {
    border-radius: 0 20px 20px 0 !important;
    border-left: none;
}
.form-control:focus {
    border-color: #ced4da;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: text;
}
.form-control::placeholder {
   font-size: 12px;
    color: lightgrey;
}

.btn-submit {
     width: 50%;
     border: none;
     border-radius: 20px;
    background: rgb(88,168,220);
    background: linear-gradient(60deg, rgba(88,168,220,1) 0%, rgba(44,49,126,1) 100%);
    box-shadow: 0 5px 19px 0 rgba(0,0,0,0.1),0 10px 20px 0 rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
 }
.btn-submit:hover {
    box-shadow: 0 5px 19px 0 rgba(88,168,220,0.3),0 14px 35px 0 rgba(44,49,126,0.3);
    color: white;
}
.is-invalid
{
    border-radius: 0 20px 20px 0 !important;
    border-color: #ced4da!important;
}
.is-invalid:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}


/*home*/
.banner {
    width: 100%;
    height: 300px;
    background-image: url('../uploads/banner-cg.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-color: grey;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative;
    z-index: 0;
}

.card-overlap {
    width: 80%;
    position: absolute;
    z-index: 1;
    top: 200px;
}


.switch input {
    display:none;
}
.switch {
    display:inline-block;
    width:50px;
    height:20px;
    margin:5px 0 0 0;
    /*transform:translateY(50%);*/
    position:relative;
}

.slider {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-radius:10px;
    box-shadow:0 0 0 2px #777, 0 0 4px #777;
    cursor:pointer;
    border: 1px solid transparent;
    overflow:hidden;
    transition:.4s;
}
.slider:before {
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    background:#777;
    border-radius:30px;
    transform:translateX(-30px);
    transition:.4s;
}

input:checked + .slider:before {
    transform:translateX(30px);
    background:limeGreen;
}
input:checked + .slider {
    box-shadow:0 0 0 2px limeGreen,0 0 2px limeGreen;
}

.table-head {
    width: 200px!important;
    border: none!important;
    color: #8d8d8d !important;
    font-size: 14px;
    font-family: 'Prompt', sans-serif!important;
}
td {
    color: black;
}
.btn-table {
    width: 40%;
    float: left;
}
.f-input{
    border-radius: 20px;
}
.btn-add {
    width: auto;
    height: 25px;
    border-radius: 20px;
    padding-top: 3px;
    font-size: 12px;
    background-color: lightgrey;
}

.click-row {
    cursor: pointer;
}
.click-row:hover {
    background-color: lightgrey;
    border-radius: 20px!important;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    /*border: 1px solid #888;*/
    width: 60%;
    border: none!important;
    border-radius: 1.3rem;
}
.modal-content-year {
    width: 40% !important;
}

/* The Close Button */
.close, .close-lesson, .close-section, .close-location {
    width: 10px;
    color: #aaaaaa;
    margin: auto 0 auto auto;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.close-lesson:hover,
.close-lesson:focus,
.close-section:hover,
.close-section:focus,
.close-location:hover,
.close-location:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.detail-btn :hover {
    color: #3956A3;
}

.uploader {
    display: block;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}
.uploader label {
    float: left;
    clear: both;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    background: #fff;
    border-radius: 7px;
    border: 3px solid #eee;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.uploader label:hover {
    border-color: #454cad;
}
.uploader label.hover {
    border: 3px solid #454cad;
    box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
}
.uploader #start {
    float: left;
    clear: both;
    width: 100%;
}
.uploader #start.hidden {
    display: none;
}
.uploader #start i.fa {
    font-size: 50px;
    margin-bottom: 1rem;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.uploader #response {
    float: left;
    clear: both;
    width: 100%;
}
.uploader #response.hidden {
    display: none;
}
.uploader #response #messages {
    margin-bottom: .5rem;
}
.uploader #file-image {
    display: inline;
    margin: 0 auto .5rem auto;
    width: auto;
    height: auto;
    max-width: 180px;
}
.uploader #file-image.hidden {
    display: none;
}
.uploader #notimage {
    display: block;
    float: left;
    clear: both;
    width: 100%;
}
.uploader #notimage.hidden {
    display: none;
}
.uploader progress,
.uploader .progress {
    display: inline;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
    height: 8px;
    border: 0;
    border-radius: 4px;
    background-color: #eee;
    overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
    border-radius: 4px;
    background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
    background: -webkit-linear-gradient(left, #393f90 0%, #454cad 50%);
    background: linear-gradient(to right, #393f90 0%, #454cad 50%);
    border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
    background: linear-gradient(to right, #393f90 0%, #454cad 50%);
    border-radius: 4px;
}
.uploader input[type="file"] {
    display: none;
}
.uploader div {
    margin: 0 0 .5rem 0;
    color: #5f6982;
}
.uploader .btn {
    display: inline-block;
    margin: .5rem .5rem 1rem .5rem;
    clear: both;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: .2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: #454cad;
    border-color: #454cad;
    cursor: pointer;
}
